body{
	margin: auto;
	width: 80%;
}

body div{
	border: 1px solid red;
    overflow: hidden;
}


#header div{
    border: 2px dashed cyan;
    float: left;
    height: 100px;
}

#header-title{
    width: 60%;
    color: white;
    text-align: center;
    background-color: cornflowerblue;

    }

#header-user{
    padding-left: 2%;
    padding-right: 2%;
    
}

#header-user img{
    padding-top: 25px;

    width: 50px;
    height: auto;
    
}

#header-search{
    width: 20%;  
}

#header-search input[type=text]{
    float: right;

    width: 1%;
    border-radius: 25px;
    border:2px solid #ccc;

    box-sizing: border-box;
    margin-top: 27px;
    padding: 12px 0px 12px 40px;

    background-image: url('search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px 20px;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    }

    #header-search input[type-text]:focus { 
        width : 100%;
    }

/*숙제 좌측의 빈칸 없애기 - 모든 스타일 강제 표시 금지*/
#left-nav ul{
    list-style: none;
    padding-left:0px;
    width: 15%;
}

#left-nav ul li{
    border-bottom: 2px solid lightgrey;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2.0vw;
}

#left-nav ul li a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
}