body{
	margin: auto;
	width: 80%;
}

#header-title {
	
	margin-top: 100px;
	text-align: center;
	
}


#login-content{
	margin: auto;	
	margin-top: 50px;
	
	width: 30%;
	
	max-width:500px; 
	min-width: 350px;
	
}

#user-id-input{
	font-weight: bold;
	
	margin-top:10px;
	margin-bottom: 10px;
	
	padding: 10px;
	
	width: 100%;
	
	box-sizing: border-box;
	
	border: 1px solid gray;
	border-radius: 10px;
}

#user-pwd-input{
	font-weight: bold;
	
	margin-top:10px;
	margin-bottom: 10px;
	
	padding: 10px;
	
	width: 100%;
	
	box-sizing: border-box;
	
	border: 1px solid gray;
	border-radius: 10px;
}

#login-submit-btn{
	
	color: white;
	font-weight: bold;
	
	margin-top:10px;
	margin-bottom: 10px;
	
	padding: 10px;
	
	border: 1px solid gray;
	border-radius: 10px;
	
	cursor: pointer;
	width: 100%;
	background-color:#4CAF50;
}

#close-btn{
	color: white;
	font-weight: bold;
	
	margin-top:10px;
	margin-bottom: 10px;
	
	padding: 10px;
	
	border: 1px solid gray;
	border-radius: 10px;
	
	cursor: pointer;
	
	width: 25%;
	background-color:#f44336;
}

#password-forget-info{
	float : right;
	padding : 18px;
}
